.home-page-title{
  padding: 100px 0px;
  font-family: Niramit;
  font-weight: 600;
  font-size: 70px;
}

.instruction{
  padding: 30px 0px;
  font-size: 5px;
}

.hvrbox,
.hvrbox * {
	box-sizing: border-box;
}
.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.hvrbox img {
	max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
	display: block;
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
.hvrbox .hvrbox-text {
	text-align: center;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
	font-size: 15px;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.hvrbox.active .hvrbox-text_mobile {
	display: block;
}


h2 {
  color: darkblue;
}

body {
  font-family: Georgia, sans-serif;
  background-color: #e2e6ff;
  text-align: center
}

@media screen and (max-width: 600px) {
  body {
    background-color: white;
  }
}

.name-headings {
  padding: 10px;
}


.short-bio {
  color: #00334d;
  font-size: 16px;
  border-style: solid;
  border-color: white;
  background-color: #FFFDED;
  height: 850px;
  overflow: auto;

  /*--max-width: 45%;
  float: left;
  box-sizing: border-box;*/
}

li {
  list-style-type: none;
  font-family: Niramit;
}

/* how do i get unlisted bullet points in only the short bio?*/
.long-bio {
  color: black;
  font-size: 16px;
  border-style: solid;
  border-color: white;
  background-color: #FFF0EA;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  padding-top: 1%;
  height: 850px;
  overflow: auto;
  /*height: 910px;
  float: right;
  max-width: 62%;
  box-sizing: border-box;
  max-width: 50%;
  overflow: auto;
  */
}

.lead {
  padding-top: 3%;
  padding-bottom: 3%;
  font-family: Niramit;
  font-weight: bold;
}

.quote {
  font-weight: bolder;
  font-size: 34px;
  padding-top: 25px;
  padding-bottom: 10px;
  font-family: Niramit;
  font-weight: 600;
  font-style: bold;
}

img {
  max-width: 70%;
  border-radius: 25px;
  padding-top: 5px;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;
  font-weight: bold;
  /*font-family: monospace;*/
  font-size: 20px;
  text-align: center;
  padding: 1%;
  color: #ffffff;
  background: darkblue;
  font-family: Niramit;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
}

/.collapsible-content .content-inner {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: none;
}
/*.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}*/
.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.custom-footer{
  padding: 20px 0px;
  margin: auto;
  margin-bottom: 20px;
  font-weight: bold;
  border-style: solid;
  border-color: grey;
  max-width: 30%;
  border-radius: 25px;
  font-family: Niramit;

}
/*
.link a{
  background-color: white;
}*/
